.content {
  position: absolute;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: left;
  left: 280px;
  top: 200px;
  padding: 40px;
  margin-bottom: 20px;
}

.lineWithText {
  display: flex;
  align-items: center;
  text-align: center;
}
.lineWithText::before,
.lineWithText::after {
  content: "";
  flex: 1;
  border-bottom: 3px solid #03989e;
}
.lineWithText::before {
  margin-right: 1.5em;
}
.lineWithText::after {
  margin-left: 1.5em;
}

.button {
  background-color: #03989e;
  align-self: center;
  border: 2px solid #03989e;
  font-size: 12px;
  letter-spacing: 2px;
  color: white;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: white;
  border: 2px solid #03989e;
  color: #03989e;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #03989e;
  border-radius: 50%;
  display: inline-block;
}

ul {
  list-style: none;
}

li::before {
  content: "• ";
  color: #03989e;
}
